
<main role="main">

    <div class=" row">

        <div class="bg">
        </div>


    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p><img width="1300px" src="assets/images/world.PNG" /> </p>

            </div>
            <div class="col-md-6">
                <a href="/shop/3"><img src="assets/images/xiaomi.PNG" /> </a>
            </div>
            <div class="col-md-6">
                <a href="/shop/2"><img src="assets/images/apple.PNG" /> </a>

            </div>
            <div class="col-md-6">
                <a href="/shop/6"><img src="assets/images/samsung.PNG" /> </a>
            </div>
            <div class="col-md-6">
                <p><img src="assets/images/degis.PNG" /> </p>
            </div>
        </div>

        <hr>

    </div> 

</main>
